{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}


{% block body %}

<section class="mb-4">


        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Welcome to our eShoppy, where we strive to provide an
            exceptional shopping experience for our customers. We believe in the power of online shopping to connect
            people with the products they need and love. With a wide range of products and a commitment to quality, we
            aim to make shopping with us easy, convenient, and enjoyable. Our team of experts is always on hand to
            answer any questions and help you find what you need. Thank you for choosing us as your ecommerce
            destination.</p>

        <div class="row">
            <div class="col-md-6">
                <img
                    src="https://img.freepik.com/free-photo/colleagues-working-project-discussing-details_114579-2817.jpg">
            </div>
            <div class="col-md-6">
                <p>At our ecommerce company, we understand that online shopping can sometimes be daunting, which is why we make every effort to provide a seamless and secure shopping experience. Our website is designed with user experience in mind, making it easy for you to browse, search, and filter products, and check out securely.</p>
                <p>We also offer a hassle-free returns policy, giving you peace of mind that you can shop with confidence. If for any reason you are not completely satisfied with your purchase, you can return it to us within a specified time frame for a full refund or exchange.</p>
            </div>
        </div>
</section>
{% endblock body %}