{% extends 'base.html' %}
{% block title %}
Check Out
{% endblock title %}
{% block content %}

{% endblock content %}
{% block body %}
{% load static %}


{% if request.user.is_authenticated %}
<script>
    window.location.href = "../../";
</script>
{% else %}
<!-- ======= Portfolio Section ======= -->
<section class="mb-4">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="row  justify-content-center">
        <div class="col-md-8">
            <div class=" text-black">
                <h3>Sign up</h3>
            </div>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} ">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            <form action="/account/signup/" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="email">First name</label>
                        <div class="form-group">
                            <input type="text" class="form-control p-2" id="firstname" name="firstname" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="email">Last name</label>
                        <div class="form-group">
                            <input type="text" class="form-control p-2" id="lastname" name="lastname" required />
                        </div>
                    </div>
                </div>
                <label for="email">Email</label>
                <div class="form-group">
                    <input type="email" class="form-control p-2" id="email" name="email" required />
                </div>
                <label for="pass1">Password</label>
                <div class="form-group">
                    <input type="password" class="form-control p-2" id="password" name="password" required />
                </div>
                <button type="submit" class="btn site-btn " style="width: 100%;">Signup</button>
            </form>
            <div class=" text-black mt-4">
                <p>Back to <a href="/account/login/">Login</a></p>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock body %}